body {
    font-family: Futura, sans-serif;
    background-color: #F6CEFC;
}

footer {
    font-size: 0.8em;
}

.section {
    margin: 8px;
    padding: 4px 6px 4px 6px;
    border: 4px solid #EEEEEE;
    border-radius: 7px;
}

.examples {
}

.title {
}

.usage {
}

.contact {
}

.table {
}

/* Pronoun Badges and Colors */
.pronouns { /* TODO: Perhaps add badge styling to pronouns. */ }

/* Specific Pronouns */
.pronouns.she.her.her.hers.herself { color: default }
.pronouns.he.him.his.his.himself { color: default }
.pronouns.they.them.their.theirs.themselves { color: default }
.pronouns.ze.hir.hir.hirs.hirself { color: default }
.pronouns.ze.zir.zir.zirs.zirself { color: default }
.pronouns.xey.xem.xyr.xyrs.xemself { color: default }
.pronouns.ae.aer.aer.aers.aerself { color: default }
.pronouns.e.em.eir.eirs.emself { color: default }
.pronouns.ey.em.eir.eirs.eirself { color: default }
.pronouns.fae.faer.faer.faers.faerself { color: default }
.pronouns.fey.fem.feir.feirs.feirself { color: default }
.pronouns.hu.hum.hus.hus.humself { color: default }
.pronouns.it.it.its.its.itself { color: default }
.pronouns.jee.jem.jeir.jeirs.jemself { color: default }
.pronouns.kit.kit.kits.kits.kitself { color: default }
.pronouns.ne.nem.nir.nirs.nemself { color: default }
.pronouns.peh.pehm.pehs.pehs.pehself { color: default }
.pronouns.per.per.per.pers.perself { color: default }
.pronouns.sie.hir.hir.hirs.hirself { color: default }
.pronouns.se.sim.ser.sers.serself { color: default }
.pronouns.shi.hir.hir.hirs.hirself { color: default }
.pronouns.si.hyr.hyr.hyrs.hyrself { color: default }
.pronouns.they.them.their.theirs.themself { color: default }
.pronouns.thon.thon.thons.thons.thonself { color: default }
.pronouns.ve.ver.vis.vis.verself { color: default }
.pronouns.ve.vem.vir.virs.vemself { color: default }
.pronouns.vi.ver.ver.vers.verself { color: default }
.pronouns.vi.vim.vir.virs.vimself { color: default }
.pronouns.vi.vim.vim.vims.vimself { color: default }
.pronouns.xie.xer.xer.xers.xerself { color: default }
.pronouns.xe.xem.xyr.xyrs.xemself { color: default }
.pronouns.xey.xem.xeir.xeirs.xemself { color: default }
.pronouns.yo.yo.yos.yos.yosself { color: default }
.pronouns.ze.zem.zes.zes.zirself { color: default }
.pronouns.ze.mer.zer.zers.zemself { color: default }
.pronouns.zee.zed.zeta.zetas.zedself { color: default }
.pronouns.zie.zir.zir.zirs.zirself { color: default }
.pronouns.zie.zem.zes.zes.zirself { color: default }
.pronouns.zie.hir.hir.hirs.hirself { color: default }
.pronouns.zme.zmyr.zmyr.zmyrs.zmyrself { color: default }